.newsletter-section {
    background-color: #171819;
    padding: 30px 0;
}
.newsletter-container {
    margin: 0 5%;
}

.newsletter-container h2 {
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    text-transform: none;
}

.newsletter-input {
    width: 250px;
    height: 37.5px;
    margin-right: -6px;
}
